{% extends "base.html" %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{article.title}}</h1>
            <img src="{{article.image.url}}" alt="Article Image">
            <p class="lead my-3">{{article.description}}</p>
            <p class="author">{{article.author}}</p>
            <p class="date">{{article.created_at}}</p>  
            <p class="lead">{{article.content}}</p>
        </div>
    </div>
{% endblock %}