{% extends "base.html" %} 
{% load static %}

{% block title %}NEWS{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'news_app/css/news.css' %}">
{% endblock %}

{% block content %}
    <div class="news-important">
        <h1 class="display-4 fst-italic">{{ articles.0.title }}</h1>
        <p class="lead my-3">{{ articles.0.description }}</p>
        <p class="lead mb-0"><a href="{% url 'article_detail' articles.0.slug %}" class="text-body-emphasis">Continue reading...</a></p>
    </div>
    <div class="columns-newspaper">
        <div class="news">
            {% for article in articles|slice:"1:5" %}
            <div class="news-item">
                <h2 class="display-5">{{ article.title }}</h2>
                <p class="lead">{{ article.description }}</p>
                <p><a href="{% url 'article_detail' article.slug %}" class="read-more">Read more</a></p>
            </div>
            {% endfor %}
        </div>
        <div class="advertisement">
          {% for article in articles %}
            {% if article.category == 'OPINION' %}
              <h2>{{article.category}}</h2>
              <h4>{{article.title}}</h4>
              <p>{{article.author}}</p>
              <p>{{article.created_at}}</p>
              <p>{{article.content}}</p>
            {% endif %}
          {% endfor %}
        </div>
    </div>
{% endblock %}




